<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

</head>
<header id="home">
    <div class="container">
        <div class="menu">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </div>
        <nav class="d-flex align-items-center justify-content-center">
            <a href="index.html">
                <img class="img-fluid" src="https://i.pinimg.com/originals/6c/85/f5/6c85f5b2d39a5be5d4a624ff17be70d9.jpg">
            </a>
            <ul class="nav-list text-center p-0">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
        <div class="w-100  px-2">
            <h1>Welcome</h1>
            <p>Los mejroes postres para ti</p>
            <a href="#">Explore</a>
            <a href="#">Find a estore</a>
        </div>
    </div>
</header>
</html>