<!-- Font Icon -->
<link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/logreg.css">
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                <a onclick="document.getElementById('id02').style.display='block', document.getElementById('id01').style.display='none'">Create an account</a>
            </div>
            <div class="signin-form">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
                <h2 class="form-title">Ingresar</h2>
                <form action="/usuario/login" method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email" name="email" id="email" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Contraseña">
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Ingresar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>