<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!-- For Clients slider -->
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
    <!--flexs slider-->

    <!--Shoping cart-->
    <link rel="stylesheet" href="/css/shop.css" type="text/css" />
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>

<body>


<section class="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 map-info-right px-0">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7914187547162!2d-78.49105138542811!3d-0.2104021998464864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107e1cd44b%3A0x88a284f66939ed4!2sEscuela%20Polit%C3%A9cnica%20Nacional!5e0!3m2!1ses-419!2sec!4v1600882995563!5m2!1ses-419!2sec" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


            </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                <div class="address-gried ">
                    <span class="far fa-map"></span>
                    <p>Ladron de Guevara N-23<br>Quito-Ecuador
                    <p>
                </div>
                <div class="address-gried mt-3">
                    <span class="fas fa-phone-volume"></span>
                    <p> +(593)2334456<br>+(593)979123451</p>
                </div>
                <div class=" address-gried mt-3">
                    <span class="far fa-envelope"></span>
                    <p><a href="mailto:info@example.com">info@example1.com</a>

                    </p>
                </div>

                <div class="icons mt-3 text-center">
                    <ul>
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
    <div class="copy-agile-right">
        <p>
            © 2020 Aplicaciones Web. Escuela Politecnica Nacional.
        </p>
    </div>
</footer>
<!-- //footer -->



</body>

</html>