<html>
<div id="contenedorPie">
    <div style=height:80px;width:10%;float:left;margin:10px;>
        <p>Origen de la tradicion</p>
    </div>

    <div style=height:80px;width:70%;float:left;margin:10px;>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9HVCtkmYMkgT41x3kErnhOBPR96PZ9EhRhg&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9HVCtkmYMkgT41x3kErnhOBPR96PZ9EhRhg&usqp=CAU">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9HVCtkmYMkgT41x3kErnhOBPR96PZ9EhRhg&usqp=CAU">


    </div>

    <div style=height:80px;width:15%;float:left;margin:10px;>
        <p>Origen de la tradicion</p>
    </div>
</div>
</html>