<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

<div class="wrapper">
    <a href="/" title="Pizza Hut" class="logo">
        <img src="https://static.pizzahut.services/areas/phes/resources/phec/static/logo.svg" alt="Pizza Hut" title="Pizza Hut">
    </a>

    <div class="nav_secondary">
        <div>



            <div id="headerLinks">
                <ul class="mod_link_nav">
                    <li><a href="/#home_login_form" class="acceso" title="Acceso">Acceso</a></li>
                </ul>

            </div>
        </div>
    </div><!-- .nav_secondary -->
</div>

<footer class="card-footer ">

        <div class="row text-justify">

            <div class="col-sm-4">
                <p class="pl-5"> El párrafo es la exposición coherente
                    y por escrito de una idea completa. Es unidad
                    de pensamiento y sentimiento, forma la unidad de
                    expresión en el lenguaje escrito. Dicha unidad está integrada
                    por dos elementos: el enunciado principal y los enunciados secundarios,
                    los cuales complementan al principal.
                </p>
            </div>
            <div class="col-sm-4 text-sm-center" >

                <div class="row" >

                    <div class="col-sm-4">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col-sm-4">
                        <i class="fab fa-facebook"></i>

                    </div>

                    <div class="col-sm-4">
                        <i class="fab fa-instagram"></i>
                    </div>

                    <div class="col-sm-12">
                        <p>Disfruta de los mejores sabores. Te esperamos!!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-sm-center">
                <strong>Contáctenos</strong>

                <ul class="list-unstyled">
                    <li><i class="fas fa-phone-square-alt"></i>593-234567891</li>
                    <li><i class="fas fa-envelope-open-text"></i> correo@gmail.com</li>
                    <li><i class="fas fa-home"></i>Av.6 de Diciembre</li>
                </ul>
            </div>
        </div>


</footer>

</body>

</html>