<section class="service py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Cambiar clave</h3>
        <% if(mensaje !== undefined) {%>
        <p>MENSAJE:  <%=mensaje%></p>
        <% }%>
        <p>Bienvenido <%= nombre%></p>

        <div class="row text-center">
            <div class="col-lg-8">
                <form action="../usuario/cambio-pass" method="post">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label fas fa-key">Contrase単a</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control " name="inputPassword" id="inputPassword" placeholder="Contrase単a">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword2" class="col-sm-2 col-form-label fas fa-key">Confirmar Contrase単a</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control " name="inputPassword2" id="inputPassword2" placeholder="Repita contrase単a">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>