<html lang="es-EC"><head>
    <title>Mi cuenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--Shoping cart-->
    <link rel="stylesheet" href="css/shop.css" type="text/css">
    <!--//Shoping cart-->
    <!--stylesheets-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body class="pagCuenta" style="overflow: auto;">

<div class="layout">

    <div class="layout_catalog ">

        <div id="my_account" class="my_account">

            <div class="wrapper">

                <div id="modToolsmy_account" class="modToolsmy_account">
                    <a href="" class="btBackmy_account Link-Primary" title="Atrás">&lt; Atrás</a>
                </div>

                <div class="mod_profile_header">
                    <p class="heading-l">Hola inchiglemanicolax!</p>
                    <p>Gestiona los datos de tu cuenta, tus pedidos, direcciones y métodos de pago.</p>
                </div>

                <!--Menu-->
                <div class="mod_menuDtCuenta">
                    <ul class="mod_onpage_navigation">
                        <li class="datos active"><a href="#ni" data-mod="modDatos" title="Mis datos">Mis datos</a></li><!--Mis datos-->
                        <li class="passWord"><a href="#ni" data-mod="modPass" title="Cambiar contraseña">Cambiar contraseña</a></li><!--Cambiar contraseña-->
                        <li class="direccion"><a href="#ni" data-mod="modEntrega" title="Mis direcciones de entrega">Mis direcciones de entrega</a></li><!--Mis direcciones de entrega-->
                        <li class="pago"><a href="#ni" data-mod="modPago" ttile="Mis medios de pago">Mis medios de pago</a></li><!--Mis medios de pago-->
                        <li class="pedidoFav"><a href="#ni" data-mod="modPedidos" title="Mis pedidos">Mis pedidos</a></li><!--Mis pedidos-->
                        <li class="cerrar"><a href="/homearea/logout" class="exit" title="Cerrar sesiónn">Cerrar sesión</a></li><!--Cerrar sesión-->
                    </ul>
                </div>

                <div class="mod_moredatos">

                    <!--Medios de pago-->
                    <div class="col_r s8of12 modPago">
                        <h2>Mis medios de pago</h2>
                        <div class="mod_collapsable_forms">
                            <ul><li><p class="title">Aún no tienes ningún medio de pago guardado. Introduce tu forma de pago favorita para agilizar tus pedidos. </p></li></ul>
                        </div>
                    </div>
                    <!--Mis direcciones de entrega-->
                    <div class="col_r s8of12 modEntrega">
                        <h2>Mis direcciones de entrega</h2>

                        <div class="mod_collapsable_forms">
                            <ul><li><p class="title">Aún no tienes direcciones de entrega favoritas. </p></li></ul>
                        </div>
                    </div>
                    <!-- pedidos programados-->
                    <div class="col_r s8of12 modPedidos _programados">
                        <h2>Mis pedidos programados</h2>
                        <div class="mod_collapsable_forms">
                            <ul>
                                <li><p class="title">Aquí puedes ver los pedidos programados para recibirlos dónde y cuando quieras.</p></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Pedidos favoritos-->
                    <div class="col_r s8of12 modPedidos _favoritos">
                        <h2>Mis pedidos favoritos</h2>
                        <div class="mod_collapsable_forms">
                            <ul><li><p class="title">Aún no tienes pedidos favoritos, introduce los que más te gusten para tenerlos con un solo clic.</p></li></ul>
                        </div>
                    </div>

                    <!-- Historial de pedidos-->

                    <div class="col_r s8of12 actions"><a href="/homearea/logout" class="exit Link-Primary">Cerrar sesión</a></div>
                </div>
            </div>
        </div>

        <script defer="" src="/areas/phes/resources/scripts/dcuenta.min.js?v=5.0.23.0" charset="utf-8"></script>


    </div>



</div>

<!-- Personalize Products -->
<div class="personalize_container"></div>

<!-- popUps -->

<div id="mask"></div>
<div id="boxes"></div>





</body>
</html>